@page "{productid}"
@* @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
 *@
@model MyRazorPagesWebApp.Pages.Products.EditModel
@{
}

@if (Model.Message != String.Empty)
{
    <div>
        @Model.Message
    </div>
}
@if (Model.Product != null)
{
    <div>
        <form method="post">
            @Html.AntiForgeryToken()
            <div>ProductId: @Model.Product.ProductId</div>
            <div>
                ProductName: 
                <input type="text" name="ProductName" value="@Model.Product.ProductName" />
            </div>
            <div>
                UnitPrice:
                <input type="number" name="UnitPrice" value="@Model.Product.UnitPrice" />
            </div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </form>
    </div>
}
else
{
    <div>Product yeu cau khong chinh xac</div>
}
